
.letgo-comp-code {
    display: block;
    position: relative;
    width: 100%;
    &.is-bordered {
        .cm-editor {
            border: 1px solid var(--letgo-border-color);
            border-radius: 4px;
            &.cm-focused {
                border: 1px solid var(--letgo-primary-color);
                box-shadow: 0 0 0 2px #dde6ff;
                outline: none;
            }
        }
    }


    &__container {
        background-color: #fff;
        &--fullscreen {
            .cm-editor {
                height: 100% !important;
            }
        }
    }

    &__screen-icon {
        position: absolute;
        bottom: 4px;
        right: 12px;
        cursor: pointer;
        z-index: 1;
    }
    &__off-screen-icon {
        top: 12px;
        right: 12px;
    }
}


