.letgo-global__code {
    display: flex;
    height: calc(100vh - 55px);
    & &-left {
        width: 280px;
        flex-shrink: 0;
        height: 100%;
        border-right: 1px solid var(--letgo-border-color);
    }
    & &-right {
        width: 0;
        flex: 1;
    }
}


