:root {
    --letgo-primary-color: #5384ff;
    --letgo-text-color: rgba(0, 0, 0, 0.9);
    --letgo-text-color-caption: #cfd0d3;
    --letgo-border-color: #f1f1f1;

    --letgo-font-family: 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', Helvetica,
    Arial, sans-serif;
    --letgo-font-size: 14px;
}