:root {
    --letgo-primary-color: #5384ff;
    --letgo-text-color-header: rgba(0, 0, 0, 0.9);
    --letgo-text-color: rgba(0, 0, 0, 0.6);
    --letgo-text-color-caption: rgba(0, 0, 0, 0.4);
    --letgo-border-color: #e7eaee;
    --letgo-background-color: #f7f8fa;
    --letgo-font-family: 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', Helvetica, Arial, sans-serif;
    --letgo-font-size-xl: 16px;
    --letgo-font-size-l: 14px;
    --letgo-font-size: 12px;
    --letgo-font-size-s: 10px;
}