.letgo-plg-code__query-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 36px;
    padding: 0 4px;
    border-bottom: 1px solid var(--letgo-border-color);
    color: #222;
}

.letgo-plg-code__query-content-wrapper {
    height: calc(100% - 36px);
}

.letgo-plg-code__query-content {
    padding: 18px;
    box-sizing: border-box;
}
