.letgo-plg-code {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    .fes-tabs-tab-pane {
        height: 100%;
    }
    & &__tabs {
        flex: 1;
        overflow: hidden;
    }

    & &__edit {
        width: 100%;
        height: 100%;
        position: relative;
    }

    & &__search {
        padding: 8px 16px;
        border-bottom: 1px solid var(--letgo-border-color);
    }

    &__header {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 32px;
        padding: 0 8px;
        border-bottom: 1px solid var(--letgo-border-color);

        &-close {
            margin-left: 8px;
            height: 16px;
            cursor: pointer;
            color: #777;
        }
    }

    &__screen-icon {
        cursor: pointer;
        height: 18px;
        color: #777;
    }
}

.letgo-plg-code__detail {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: -55px;
    bottom: 0;
    left: 266px;
    width: 400px;
    background: #fff;
    z-index: 999;
    border: 1px solid var(--letgo-border-color);
    border-left: 0;
    border-bottom: 0;
    box-shadow: 4px 6px 6px 0 rgba(31, 50, 88, 0.08);
    height: auto;
    font-size: var(--letgo-font-size);
    box-sizing: border-box;
}

.letgo-plg-code__icon {
    cursor: pointer;
    font-size: 20px;
    display: inline-block;
    color: inherit;
    line-height: 0;
}

.letgo-plg-code__svg {
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: currentColor;
}


