.letgo-designer-sim__border {
    box-sizing: border-box;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    border: 1px solid var(--letgo-primary-color);
    will-change: transform, width, height;
    overflow: visible;

    &-title {
        display: inline-block;
        color: var(--letgo-primary-color);
        transform: translateY(-100%);
        font-weight: lighter;
    }

    &-status {
        display: inline-block;
        margin-left: 5px;
        color: #3c3c3c;
        transform: translateY(-100%);
        font-weight: lighter;
    }

    &-actions {
        position: absolute;
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: flex-end;
        pointer-events: all;

        > * {
            flex-shrink: 0;
        }
    }

    &-action {
        cursor: pointer;
        height: 20px;
        width: 20px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background: rgba(0; 108; 255; 1);
        opacity: 1;
        max-height: 100%;
        overflow: hidden;
        color: #ffffff;
        &:hover {
            background: var(--letgo-primary-color);
        }

        .i-icon {
            line-height: 1em;
        }
    }

    &--detecting {
        z-index: 1;
        border-style: dashed;
        background: rgba(0, 121, 242, .04);
    }

    &--selecting {
        z-index: 2;
        border-width: 2px;
    }

    &--dragging {
        background: rgba(182, 178, 178, 0.8);
        border: none;
    }

    &-add-next {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;

        &.right {
            height: 100%;
            right: -1px;
            top: 0;
            transform: translateX(50%);
        }

        &.left {
            height: 100%;
            left: -1px;
            top: 0;
            transform: translateX(-50%);
        }

        &.top {
            width: 100%;
            left: 0;
            top: -1px;
            transform: translateY(-50%);
        }

        &.bottom {
            width: 100%;
            left: 0;
            bottom: -1px;
            transform: translateY(50%);
        }
        


        .i-icon {
            cursor: pointer;
            pointer-events: all;
            line-height: 1em;
        }
    }

    &-add-next-components {
        width: 300px;

        .letgo-components__item {
            width: 100%;
            justify-content: flex-start;
            padding: 0 8px;
        }
    
        .letgo-components__icon {
            height: 100%;
            width: auto;
            margin-right: 4px;
        }
    }
}
