@scope: letgo-borders;

.@{scope} {
  box-sizing: border-box;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  border: 1px solid var(--color-brand-light);
  will-change: transform, width, height;
  overflow: visible;
  & > &-title {
    color: var(--color-brand-light);
    transform: translateY(-100%);
    font-weight: lighter;
  }
  & > &-status {
    margin-left: 5px;
    color: #3c3c3c;
    transform: translateY(-100%);
    font-weight: lighter;
  }
  & > &-actions {
    position: absolute;
    display: flex;
    flex-direction: row-reverse;
    align-items: stretch;
    justify-content: flex-end;
    pointer-events: all;
    > * {
      flex-shrink: 0;
    }
  }

  &&-detecting {
    z-index: 1;
    border-style: dashed;
    background: rgba(0,121,242,.04);
  }

  &&-selecting {
    z-index: 2;
    border-width: 2px;
    &.is-dragging {
      background: rgba(182, 178, 178, 0.8);
      border: none;
    }
  }
}
