.search {
    padding: 8px 16px;
}

.category-title {
    padding: 0 16px;
    font-size: 14px;
    font-weight: 500;
    color: var(--color-title);
    margin-top: 20px;
}

.category-body {
    padding: 20px;
    &-item {
        width: 100%;
        justify-content: flex-start;
        padding: 0 8px;
        &-icon {
            height: 100%;
            width: auto;
            margin-right: 4px;
        }
    }
}